@tailwind base;
@tailwind components;
@tailwind utilities;

.base-bg{
    background-color: #b3aaaa;
    
}
.bg-nav{
    background-color: #473C3F;
    color: #EEEEEC;
}
.bg-tertiary{
    background-color: #AE783A;
}
.bg-secondary{
   background-color: #EEEEEC;
   color: #473C3F;
}
input:checked {
    background-color: #AE783A; /* bg-green-500 */
  }

input:checked ~ span:last-child {
    --tw-translate-x: 1.50rem; /* translate-x-7 */
  }